.card {
  border-radius: 2px;
  height: 160px;
  margin: 0.5rem;
  position: relative;
  display: inline-block;
  width: 250px;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  text-align: left;
}

.card > .img-container {
  height: 100%;
  overflow: hidden;
  background: white
}
.card > .img-container > img {
  width: 100%;
}

.img {
  vertical-align: middle
}

/* make card pulse */

/* .card > .remove:hover {
  color: #d50000;
} */
