.navbar {
    padding: 30px;
    text-align: center;
    color: blue;
}

.nav-item {
    padding-right: 80px; 
    padding-left: 80px; 
}

.instructions {
    margin-left: 80px;
}

.score {
    margin-left: 20px;

}